* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.card {

    padding: 0 !important;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
        background-color: rgba(135, 155, 140, 0.555);
        transform: translateY(-20px);
    }
    box-shadow: 6px 5px 13px 0px;

    .card-body {
        overflow: hidden;

        img {
            width: 100%;
            transition: 0.4s;
            border-radius: 50%;
            filter: grayscale(1);
            border: 1px solid gray;

            &:hover {
                filter: grayscale(0);
            }
        }

    }

    

}
.active {
    background-color: yellowgreen;
}
