*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
img{
    width: 100%;
    transition: .4s;
    border-radius: 50%;
    filter: grayscale(1);
    
    &:hover{
        filter: grayscale(0);
    }
}
.card{
    padding: 0px !important;
    cursor: pointer;
    transition: .4s;
    &:hover{
        background-color: rgba(109, 161, 144, 0.555);
    }
    
    
}
.active{
    background-color: yellowgreen;
}
.card-body{
    overflow: hidden;
}
