*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
img{
    width: 100%;
    transition: .4s;
    
    &:hover{
        transform: scale(1.2);
    }
}
.card{
    padding: 0px !important;
    cursor: pointer;
    
    
}
.active{
    background-color: yellowgreen;
}
.card-body{
    overflow: hidden;
}
